:root {
  --primary-color: #0172F0;
  --secondary-color: #FFAE42;
  --white-color: #ffffff;
  --black-color: #000000;
  --gradient: linear-gradient(0deg, rgba(255,174,66,1) 0%, rgba(255,174,66,0.2007003484987745) 100%);
}